:root {
    --marginRight:2em;
    --backgroundColorNav:#3B83BD;
    --backgroundColorJS: linear-gradient(80deg, #252850, #3B83BD);;
    --backgroundColorBefore:#CF010B;
    --backgroundColorJava: #E8C39E;
    --backgroundColorContacto: #E8C39E;
    --gapTrabajos:1em;
    --bacgroundBienvenida:#E8C39E;
    --backgroundDescripcion:#252850;
    --tamanoIconosMobile: 7rem ;
    --tamanoIconosDesktop: 7rem ;
    
}

/*estilos globales*/

body{
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    text-align: center;
    box-sizing: content-box;
    
}

h1{
    font-size: 2.5rem;
    
}
h2 {
    
    font-size: 2rem;
}
h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    
}

img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

p{
    text-align: justify;
    font-weight: bold;
    
}
button {
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    background-color: var(--backgroundColorNav);
    border:0;
    border-radius:  2%;
    margin-bottom: 0.5rem;
     

}




/*Estilo nav*/

header{ 
    height:4rem;
    width: 100%;
    background-color: var(--backgroundColorNav);
    position: fixed;
   
}
.contenido-header{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "contacto  menu  vacio";
    justify-content: space-evenly;


}

.contenedor-menu{
    width: 5rem;
    height: 100%;
    grid-area: menu;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contacto{
    grid-area: contacto;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav{

    display: none;
    background-color: var(--backgroundColorNav);
    justify-content: center;
    align-items: center;
    
}


.input-nav{
    display: none;
}
.menu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
span{
    margin: auto;
}

span::before{
    display: block;
    content: "";
    width: 2rem;
    height: 3px;
    background-color: #000000;
    margin-bottom: 0.5rem;
}

.input-nav:checked ~ nav {
    display: flex;
    
}


.icono-contacto{
    font-size: 2rem;

}
ul{
    display: flex;
    width: 5rem;
    padding: 0;
    flex-direction: column;
    list-style: none;
    text-align: left;
}
li{
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
    color: black;
    
}

.titulos{
    text-align: center;
}

main{
    background: var(--backgroundColorJS);
}

/*Estilo containers*/
#container-bienvenida{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





#container-js,#container-java{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#container-contacto{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Grid conocimientos*/
.container-conocimientos{
    width: 100%;
    display: flex; 
    margin: 10rem 0;
}

.wrapper-conocimientos{
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    row-gap: 1rem;
    column-gap: 1rem;
}

.contenedor-conocimientos{
    background-color: var(--backgroundColorNav);
    box-shadow: 2px 2px 10px 3px #000000;
    padding: 2.5rem;

}

.titulo{
    height: 20%;
    margin-bottom: 1.5rem;
}

.titulo-lista{
    height: 70%;
    display: flex;
    flex-direction: column;

}

.grid-iconos{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 3rem;
}
.iconos{
    font-size: var(--tamanoIconosMobile);
}

.postgres{
    background-size: 100% 100%;
    background-image: url("https://www.svgrepo.com/show/303301/postgresql-logo.svg");
    width: var(--tamanoIconosMobile);
    height:var(--tamanoIconosMobile);
    margin: auto;
}

.lista-testing{
    list-style: square;
    text-align: left;
}



/*Estilo separadores*/
.separador-seccion{
    width: 100%;
    height: 15vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulos-secciones {
    color: #ffffff;
}

.testing{
    padding: 5rem;
}



/*Estilo contenido containers*/
.contenedor-parrafo{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}





.trabajos {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/imgs/slider.png') ;
    background-size: 100% 100%;
    border: 5px inset  var(--backgroundColorNav);
    border-radius: 1rem;
    box-shadow: 2px 2px 10px 3px #000000; 
}

.trabajo-java{
    background-image: url('/imgs/conjuntoDomMinimo.png') ;
}
.descripcion-botones{
    background: var(--backgroundColorJS);
    width: 50%;
    border-radius: 5%;
    border: 5px inset var(--backgroundColorNav);
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 7s;
    animation-name: animacionDescripcion;
}
/*ESTILO SLIDER  Y POSICION SLIDER*/
.barra-slider-js{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--backgroundColorBefore);
}
.flechaIzq{
    width: 5%;
    height: 100%;
    margin-left: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flechaDer{
    width: 5%;
    height: 100%;
    margin-right: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.diapos,.diapos-java {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000000;
    margin: 0 0.5rem;
}
#diapo1,#diapoJava1{
    background-color: #ffffff;
}

.numero-diapositiva{
    display: flex;

}
.triangulo{
    width: 0; 
    height: 0; 
    border-right: 2rem solid #000000;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent; 
}
.triangulo1{
    width: 0; 
    height: 0; 
    border-left: 2rem solid #000000;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent; 

}
.icono-li{
    font-size: 4rem;
}

.fa-html5{
    color: orange;
}
.fa-css3-alt{
    color: var(--backgroundDescripcion);
}

.fa-js {
    color: yellow;
}
.fa-react{
    color: var(--backgroundColorNav);
}
/*Animaciones*/
a:hover,a:focus {
   border-top: 2px solid var(--bacgroundBienvenida);

}
.container-bienvenida-titulo::before {
    content: '';
    display: block;
    height: 5px;
    background-color:var(--backgroundColorBefore);
    animation-duration: 4s;
    animation-name: aparecer;
    
}
.container-bienvenida-titulo::after {
    content: '';
    display: block;
    height: 5px;
    background-color:var(--backgroundDescripcion);
    animation-duration: 4s;
    animation-name: aparecer;
}

@keyframes aparecer {
    from {
      
      width: 0%
    }
  
    to {
      
      width: 100%;
    }
  }

@keyframes animacionTitulos {

}


  @media (min-width:950px){
     

      li {
          font-size: 1.5rem;
      }

      .icono-contacto{
        font-size: 3rem;
    
    }

      h1 {
          font-size: 4rem;
      }

      h2 {
          font-size: 3rem;
      }

      h3{
          font-size: 2rem;
      }

      p {
          font-size: 1.5rem
      }

      .iconos{
          font-size: var(--tamanoIconosDesktop);
      }
      .postgres{
          width: var(--tamanoIconosDesktop);
          height: var(--tamanoIconosDesktop);
        }

      .elemento-lista-conocimiento{
          margin-left: 1rem;
    }

      .trabajos{
          background-size: cover;
      }
      
  }


  
 @media (max-width:350px) and (max-height:500px){

    h1 {
        font-size: 1.5rem;
    }

    h2{
        font-size: 1rem;
    }

    .flechaIzq{
        margin-left: 1rem;
    }

    .flechaDer{
        margin-right: 1rem;
    }

    p{
        font-size: 0.6rem;
    }

    

}
 





 
